<a href="/Admin">Volver</a>
<form action="/Admin/New" method="post">
	<label>Titulo:</label>
	<input required type="text" name="Title" />
	<label>Fecha:</label>
	<input required type="date" name="PublishedDate" />
	<label>Contenido:</label>
	<textarea required name="Content"></textarea>
	<button type="submit">Crear Articulo</button>
</form>