<a href="/Admin">Volver</a>
<form action="/Admin/New" method="post">
	<label>Titulo:</label>
	<input type="text" name="Title" />
	<label>Fecha:</label>
	<input type="date" name="Date" />
	<label>Contenido:</label>
	<textarea name="Content"></textarea>
	<button type="submit">Crear Articulo</button>
</form>